
/* <!-- Global variables for sheet --> */

:root{
    --pageBackground: rgba(240, 240, 240, 1);
    --navBackground: rgba(150, 150, 150, 1);

    --buttonColour: rgba(129, 131, 132, 1);
    --borderColour: rgba(57, 57, 60, 1);
    
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

ul{
    list-style-type: none;
}

body{
    background-color: var(--pageBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* <!-- Header --> */

header{
    background-color: var(--navBackground);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    width: 510px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.how-to{
    position: absolute;
    left: 0;
    margin: 2.5px;
    padding: 15px 18.5px;
    border: 0.5px solid var(--borderColour);
    border-radius: 60%;  
}

#page-name{
    font-size: 2rem;
    margin: 5px;
    padding: 5px;
}

.dropdown-menu-nav{
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 15px;
}

#difficulty-settings{
    display: none;
    justify-content: space-evenly;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* <!-- Control Area  --> */
.control-area{
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoring, .control{
    width: 50%;
    font-size: 20px;
    margin: 5px;
    letter-spacing: 2px;
    text-align: center;
}
.highscore{
    margin-top: 10px;
}

.control{
    border: 1px solid var(--buttonColour);
    border-radius: 20px;
    margin-top: 25px;
}

/* <!-- Gaming Area  --> */
.game-display{
    width: 510px;
    height: 90vh;    
}

.result{
    margin: 10px;
    letter-spacing: 2px;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 510px;
    margin-bottom: 30px;
}


.game div {
    display: flex;
}

.game .tile {
    border: 2px solid var(--borderColour);
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: 2px;
}

/* <!-- Keyboard Area  --> */

.input{
    display: flex;
    flex-wrap: wrap;
    width: 510px;
}

.input button {
    width: 43px;
    height: 58px;
    border-radius: 6px;
    border: none;
    background-color: var(--buttonColour);
    margin: 4px;
}

.input button:nth-child(11) {
    margin-left: 30px;
}

.input button:nth-child(20),
.input button:nth-child(28) {
    width: 68px;
}

@media screen and (max-width:510px){
    body{
        width: 510px;
    }
}